# .flake8
[flake8]
max-line-length = 200
extend-ignore =
    E203,
    W503,
    E501,
    F401,  # unused imports
    F841,  # assigned but unused vars
    E305,  # blank lines around class/func
    E306,  # blank lines before nested def
    E741,  # ambiguous var name like 'l'
    E221,  # multiple spaces around operator
    E225,  # missing whitespace around operator
    E701,
    E702
exclude =
    .git,
    __pycache__,
    venv, .venv, env,
    build, dist,
    migrations
