version: "3.9"

services:
  erp-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: erp
      POSTGRES_USER: erp
      POSTGRES_PASSWORD: erp
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U erp -d erp || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 6

  erp-cache:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 10s
      timeout: 5s
      retries: 6

  web:
    build: .
    image: erp-berhan-app
    environment:
      FLASK_ENV: production
      PYTHONUNBUFFERED: "1"
      CELERY_BROKER_URL: redis://erp-cache:6379/0
      CELERY_RESULT_BACKEND: redis://erp-cache:6379/0
      DATABASE_URL: postgresql+psycopg2://erp:erp@erp-db:5432/erp
    depends_on:
      erp-db:
        condition: service_healthy
      erp-cache:
        condition: service_healthy
    ports:
      - "18000:8000"
    command: ["bash","-lc","docker/entrypoint.sh"]

  worker:
    image: erp-berhan-app
    environment:
      CELERY_BROKER_URL: redis://erp-cache:6379/0
      CELERY_RESULT_BACKEND: redis://erp-cache:6379/0
    depends_on:
      erp-db:
        condition: service_healthy
      erp-cache:
        condition: service_healthy
    command: ["bash","-lc","celery -A erp.celery_app worker -l info"]

  beat:
    image: erp-berhan-app
    environment:
      CELERY_BROKER_URL: redis://erp-cache:6379/0
      CELERY_RESULT_BACKEND: redis://erp-cache:6379/0
    depends_on:
      erp-db:
        condition: service_healthy
      erp-cache:
        condition: service_healthy
    command: ["bash","-lc","celery -A erp.celery_app beat -l info"]

volumes:
  pgdata: