version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: erp-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: erp_berhan
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: erp-berhan
    restart: always
    ports:
      - "18000:18000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
      - ./instance:/app/instance

volumes:
  postgres_data: