Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2

SQLAlchemy==2.0.36
Flask-SQLAlchemy==3.1.1

flask-socketio==5.3.6
python-socketio==5.11.3
python-engineio==4.9.1

argon2-cffi==23.1.0
beautifulsoup4==4.12.3

pytest==8.3.3
pytest-cov==5.0.0
