{% extends "base.html" %}
{% block title %}Client Registration{% endblock %}
{% block content %}
  <h1>Client Registration</h1>
  <form method="post">
    {{ form.csrf_token }}
    <div class="row"><label>TIN</label>{{ form.tin() }}</div>
    <div class="row"><label>Institution Name</label>{{ form.institution_name() }}</div>
    <div class="row"><label>Address</label>{{ form.address() }}</div>
    <div class="row"><label>Phone</label>{{ form.phone() }}</div>
    <div class="row"><label>Region</label>{{ form.region() }}</div>
    <div class="row"><label>City</label>{{ form.city() }}</div>
    <div class="row"><label>Email</label>{{ form.email() }}</div>
    <div class="row"><label>Password</label>{{ form.password(type="password") }}</div>
    <div class="row">{{ form.submit(class_="btn btn--full") }}</div>
  </form>
  <div class="links"><a href="{{ url_for('auth.choose_login') }}">Back to login</a></div>
{% endblock %}
