    """Auto-merge of multiple heads.

Revision ID: {{ revision }}
Revises: {{ down_revisions }}
Create Date: {{ create_date }}
"""

    from alembic import op
    import sqlalchemy as sa

    # revision identifiers, used by Alembic.
    revision = "{{ revision }}"
    down_revision = ({{ down_revisions_tuple }})
    branch_labels = None
    depends_on = None

    def upgrade():
        pass

    def downgrade():
        pass
