{% extends "base.html" %}
{% block title %}{{ _('Client Dashboard') }}{% endblock %}
{% block body %}
<div class="container py-5">
  <h2 class="mb-4">{{ _('Client Dashboard') }}</h2>
  <div class="list-group">
    <a href="/put_order" class="list-group-item list-group-item-action">{{ _('Put Order') }}</a>
    <a href="/my_approved_orders" class="list-group-item list-group-item-action">{{ _('My Approved Orders') }}</a>
    <a href="/order_status" class="list-group-item list-group-item-action">{{ _('Order Status') }}</a>
    <a href="/maintenance_request" class="list-group-item list-group-item-action">{{ _('Maintenance Request') }}</a>
    <a href="/maintenance_status" class="list-group-item list-group-item-action">{{ _('Maintenance Status') }}</a>
    <a href="/message" class="list-group-item list-group-item-action">{{ _('Message Support') }}</a>
    <a href="/logout" class="list-group-item list-group-item-action">{{ _('Logout') }}</a>
  </div>
</div>
{% endblock %}
