{% extends "base.html" %}
{% block title %}Message Support{% endblock %}
{% block body %}
<div class="container py-5">
<h2>Message Support</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
        </div>
        <input type="submit" value="Send">
    </form>
</div>
{% endblock %}
